@model NsdcTraingPartnerHub.Web.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-controller="Product" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Product.Id" />
    <input type="hidden" asp-for="@Model.Product.ImageUrl" />
    <div class="row">
        <div class="col-9">
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary"> @(Model.Product.Id!=0 ? "Update" : "Create" ) Product </h2>
                    <hr />
                </div>

                <div asp-validation-summary="All" class="text-danger"> </div>


                <div class="mb-3">
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.SerialNo"></label>
                    <input asp-for="Product.SerialNo" class="form-control" />
                    <span asp-validation-for="Product.SerialNo" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.DelearPrice"></label>
                    <input asp-for="Product.DelearPrice" class="form-control" />
                    <span asp-validation-for="Product.DelearPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Price50"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Price100"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.ListPrice"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Manufacturer"></label>
                    <input asp-for="Product.Manufacturer" class="form-control" />
                    <span asp-validation-for="Product.Manufacturer" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.ImageUrl"></label>
                    <input type="file" id="uploadBox" name="file" class="form-control" />
                    @*<span asp-validation-for="Product.ImageUrl" class="text-danger"></span>*@
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.CategoryId"></label>
                    <select asp-for="Product.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                        <option value=""> -- Select Category -- </option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.CoverTypeId"></label>
                    <select asp-for="Product.CoverTypeId" class="form-select" asp-items="@Model.CoverTypeList">
                        <option value=""> -- Select Cover Type -- </option>
                    </select>
                    <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                </div>

                <div class="col-12">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle">&nbsp;</i> Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" onclick="validateInputs()"><i class="bi bi-check-circle">&nbsp;</i> Create</button>
                    }

                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back To List</a>
                </div>


            </div>
        </div>
        <div class="col-3">
            <div class="row p-3 mt-4 row">
                <img src="@Model.Product.ImageUrl" class="img-fluid rounded" />
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        function validateInputs() {
            if ($('#uploadBox').val() === "") {

                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload Product image.!'
                })
                return false;
            }
            else {
                return true;
            }
        }
    </script>

    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>

}

